<style type="text/css">
.project-container p {
  font-size: 1.5em !important;
}
</style>
<center>
  <section class="project-update" style="background-color:white; width:100%;">
    <!-- <div class="row"> -->
    <!-- TODO: Add col for boostrap responsiveness -->
    <div class="project-container" style="width:80%;height:30em; border:1px solid red;display:block;">
      <div class="project-img" style="position:relative;height:13em;width:13em;background-image:url('/assets/project_pics/seetheneed.png');"></div>
      <h1>See the Need</h1>
      <p>This app aims to create transparency between donors and relief centers in disaster areas and optimize logistics for resources needed after the earthquake that hit Nepal on April 25, 2015. The goal is to allow relief centers list their needs - along with the urgency of those needs - and have donors claim those needs and find relief centers to donate to and discover what items are most needed.</p>
      <p><button>Click</button> to see tech</p>
    </div>

    <div class="project-container" style="width:80%;height:30em; border:1px solid red;display:block;">
      <div class="project-img" style="position:relative;height:13em;width:13em;background-image:url('/assets/project_pics/smartpotato.png');background-position: center;background-size: cover;"></div>
      <h1>Smart Potato</h1>
      <p>My final project for DBC. A movie aggregator that streamlines a user's movie watching experience.</p>
      <p><button>Click</button> to see tech</p>
    </div>
    <!-- </div> -->

    <!-- <div class="row"> -->
    <div class="project-container" style="width:80%;height:30em; border:1px solid red;display:block">
      <div class="project-img" style="position:relative;height:13em;width:13em;background-image:url('/assets/project_pics/salt-shaker.jpg');background-size: cover;"></div>
      <h1>Salty Chat</h1>
      <p>A very simple, crude in appearence, chat application. I really wanted to learn Node.js, so I taught myself while building this app.</p>
      <p><button>Click</button> to see tech</p>
    </div>



    <div class="project-container" style="width:80%;height:30em; border:1px solid red;display:block">
      <div class="project-img" style="position:relative;height:13em;width:13em;background-image:url('/assets/project_pics/bj.png');background-size: cover;"></div>
      <h1>Frack Jack</h1>
      <p>This is a spin off of a classic blackjack game. My very first deployed project.
      </p>
      <p><button>Click</button> to see tech</p>
    </div>

  </div>
</section>
</center>
<!-- TODO: Get technology png images for project tech section -->