<center>
<section class="project-update" style="background-color:white; width:100%;">
  <!-- <div class="row"> -->
    <!-- TODO: Add col for boostrap responsiveness -->
    <div class="project-container" style="width:30em;height:30em; border:1px solid red;display:inline-block;">
        <h1>Title</h1>
        <div class="project-img-container" style="position:relative;width:13em;height:13em;border:1px solid black">
          project img
        </div>
      <p>Description:</p>
      <p><button>Click</button> to see tech</p>
    </div>

    <div class="project-container" style="width:30em;height:30em; border:1px solid red;display:inline-block">
        <h1>Title</h1>
        <div class="project-img-container" style="position:relative;width:13em;height:13em;border:1px solid black;">
          project img
        </div>
      <p>Description:</p>
      <p><button>Click</button> to see tech</p>
    </div>

  </div>

  <!-- <div class="row"> -->

    <div class="project-container" style="width:30em;height:30em; border:1px solid red;display:inline-block">
        <h1>Title</h1>
        <div class="project-img-container" style="position:relative;width:13em;height:13em;border:1px solid black;">
          project img
        </div>
      <p>Description:</p>
      <p><button>Click</button> to see tech</p>
    </div>

    <div class="project-container" style="width:30em;height:30em; border:1px solid red;display:inline-block">
        <h1>Title</h1>
        <div class="project-img-container" style="position:relative;width:13em;height:13em;border:1px solid black;">
          project img
        </div>
      <p>Description:</p>
      <p><button>Click</button> to see tech</p>
    </div>

  </div>
</section>
</center>
<!-- TODO: Get technology png images for project tech section -->