<div id="intro-responsive">
  <div class="container-fluid">
    <div class="image-container">
      <%= image_tag('head-shot.jpg', id: "head_shot", class: "img-responsive") %>
    </div>
    <h1 id="introduction" class="top">Introduction</h1>
    <p>
      Hello! Nice to meet you. My name is Walt Zimmerman and I am a full stack web developer. My passion for technology started when I was about 10 years old. I built my first computer when I was 13. When I turned 19 I joined the Army, sadly, at that point I lost interest in computers. When I got out of the Army I didn't have any direction in my life. To make ends meet I got a job dealing poker in a casino. I dealt for 7 years and when I turned 30 I felt like it was time for a change. While I learned a lot about life and people, I had very little translatable skills to an ever evolving work force. So I decided to re-introduce myself to my childhood passion, computers. My wife is a Dev Bootcamp graduate and a dedicated web developer in San Francisco and encouraged me to follow in her footsteps… So I did. I recently graduated Dev Bootcamp and I am having a blast building web applications. I wish I would have done this years ago. I truly believe that I was meant for this line of work. I am ready to work and exited for the opportunity to be apart of your team. Let’s build something great together!!
    </p>
  </div>
</div>