  <div class="model fade" id="connect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">Connect</h3>
        </div>
        <div class="modal-body">
          <div class="nav_bottom">
            <ul>
              <li><a target="_blank" href="https://github.com/zimmermanw84"><%= image_tag("GitHub-icon.png") %></a></li>
              <li><a target="_blank" href="https://twitter.com/walt_z"><%= image_tag("Twitter-icon.png") %></a></li>
              <li><a href="mailto:zimmermanw@icloud.com"><span class="glyphicon glyphicon-envelope"></span></a></li>
              <li><a target="_blank" href="https://www.linkedin.com/pub/walt-zimmerman/a2/820/8b7"><%= image_tag("LinkedIn-icon.png") %></a></li>
              <li><a target="_blank" href="https://google.com/+WaltZimmerman"><%= image_tag("GooglePlus-icon.png") %></a></li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

