<div id="pro-responsive">
  <h1 class="top">Projects</h1>

  <div class="projects">

    <div class="see-need-main project-container" data-toggle="modal" data-target="#see-the-need">
      <h2 class="project-title">See The Need</h2>
      <div class="project-container-img" style="background-image:url('/assets/project_pics/seetheneed.png')">
      </div>
    </div>

    <div class="smart-potato-main project-container" data-toggle="modal" data-target="#smart-potato">
      <h2 class="project-title">Smart Potato</h2>
      <div class="project-container-img" style="background-image:url('/assets/project_pics/smartpotato.png')">
      </div>
    </div>

    <div class="salty-main project-container" data-toggle="modal" data-target="#salty">
      <h2 class="project-title">Salty Chat</h2>
      <div class="project-container-img" style="background-image:url('/assets/project_pics/salt-shaker.jpg')">
      </div>
    </div>

    <div class="frack-jack-main project-container" data-toggle="modal" data-target="#frack-jack">
      <h2 class="project-title">Frack Jack</h2>
      <div class="project-container-img" style="background-image:url('/assets/project_pics/bj.png')">
      </div>
    </div>
  </div>

</div>