a {
  color: rgb(107, 91, 222);
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;

}

a:hover {
  color: rgb(91, 192, 246);
}


.btn {
  display: inline-block;
  border: none;
  padding: 6px 12px;
  margin-bottom: 0;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #5bc0de;
  background: #5bc0de;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
}

.btn.dark {
  border-color: #a7a9aa;
  background: #a7a9aa;
}

.btn:hover,
.btn:focus {
  color: #fff;
  text-decoration: none;
}

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  pointer-events: none;
}


article {
  -webkit-column-count: 2;  -webkit-column-gap: 20px;
     -moz-column-count: 2;     -moz-column-gap: 20px;
          column-count: 2;          column-gap: 20px;
}

  article p {
    margin-top: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: justify;
  }


.comment-section {
  position: relative;
}

.comments {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
   /*IE 9 */
  -webkit-transform: translateX(-50%);
}

.no-user p {
  display: inline-block;
}

.form-row {
  clear: both;
  width: 100%;
  padding-bottom: 1em;
  position: relative;
}

  .form-row .email {
    display: none;
    font-size: 0.8em;
    font-style: italic;
  }

  .form-row:last-of-type {
    padding: 0;
  }

  .form-row textarea {
    padding: 0.5em;
    width: 98%;
    height: 4em;
  }

  .form-row button {
    float: right;
  }

#comment-list li {
  display: block;
}

.comment-container {
  position: relative;
  display: inherit;
  padding-top: 2em;

}