// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mobile_title {
  display: none;
}

.top_pic {
  background-image: url("/assets/space-wallpaper.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 40em;
  margin: 0;
}


/*------------------------*/
body {
  font-family: 'Raleway', sans-serif !important;
  margin-left: 0;
  margin-right: 0;
}

#title {
  color:white;
  position: relative;
  margin-top: 0.2em;
  display: inline-block;
  font-size: 4em;
  margin-left: 0.5em;
}

/*Social Nav top*/

/* Connect */

.glyphicon-envelope {
  font-size: 4.5em;
}

.nav_bottom img {
  margin-top: -3em;
}

#connect {
  display: none;
}

.modal-dialog {
  text-align: center;
  position: fixed !important;
  z-index: 99999 !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */

  -webkit-transform: translate(-50%, -50%);
  /* Chrome, Safari, Opera */

}

.modal-backdrop {
  z-index: 9999 !important;
}

/* Sticky Nav */
.navbar-fixed {
  position: fixed;
  top: -30px;
  width: 100%;
  background-color: black;
  z-index: 999;
  height: 8em;
}

.nav_top a:hover {
  text-decoration: none;
  cursor: pointer;
}

.main-nav h2 {
  margin-top: 0 !important;
}

.main-nav {
  position: relative;
  height: 8em;
  background-color: black;
}

.navbar-fixed header {
  margin-top: 2em;
}

#social {
  margin-top: 2em;
}

.nav_top {
  color: white;
  list-style: none;
  float: right;
}

.nav_bottom {
  color: white;
  list-style: none;
  text-align: center;
}

li {
  display: inline-block;
  margin-right: 1.5em;
}

#links {
  display: block;
  position: absolute;
}

#intro {
  margin-top: -1em;
  background-color: white;
  margin-left: 0em;
  max-width: 100%;
  position: relative;
  padding-bottom: 1em;
  padding-top:1em;
}

#comments {
  margin-top: -1em;
  background-color: white;
  margin-left: 0em;
  max-width: 100%;
  position: relative;
  padding-bottom: 1em;
  padding-top:1em;
}

#pro {
  background-color: #E8E8E1;
  margin-left:0;
  max-width: 100%;
  /*position: static;*/
  /*margin-top: 47em;*/
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  position: relative;
}

.top {
  font-size: 3em;
  text-align: center;
}

p {
  font-size: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}


.rocket {
  background-image: url("http://zimmermanw84.github.io/re_design/img/launch.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  max-width: 100%;
  height: 40em;
  margin-left: 0;
}

footer {
  padding-top: 2em;
  color: #FFF9F9;
  background-color: black;
  padding-bottom: 2em;
}

.image-container {
  position: relative;
  height: 5em;
  margin-top: 5em;
}

#head_shot {
  width: 10em;
  height: 10em;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  /*top: 50%;*/
  /*margin-top: 0;*/
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */

  -webkit-transform: translate(-50%, -50%);
  /* Chrome, Safari, Opera */
}

footer {
  background-color: black;
  margin-bottom: 0 !important;
}

h4 {
  color: white;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity:0.5;
}

.project-container h2 a {
  color: black;
}

.project-container h2 a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 767px) {

  #title {
    color:white;
    position: relative;
    margin-top: 9em;
    display: inline-block;
    font-size: 4em;
    margin-left: 0.5em;
    display: none;
  }


  div ul li {
    margin-right: 0em;
    display: inline-block;
  }

  div ul {
    margin-right: 1.5em;
  }

  #head_shot {
    display: none;

  }

  .nav_moblie {
    margin-right: 2em;
    text-align: center;
  }

  .mobile_title {
    font-size: 2em;
    color: white;
    position: absolute;
    text-align: center;
  }

}