// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mobile_title {
  display: none;
}

.top_pic {
  background-image: url("/assets/space-wallpaper.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 30em;
  margin: 0;
}


/*------------------------*/
body {
  font-family: 'Raleway', sans-serif !important;
  margin-left: 0;
  margin-right: 0;
}

#title {
  color:white;
  position: relative;
  margin-top: 0.2em;
  display: inline-block;
  font-size: 4em;
  margin-left: 0.5em;
}

/*Social Nav top*/

/* Connect */

.glyphicon-envelope {
  font-size: 4.5em;
}

.nav_bottom img {
  margin-top: -3em;
}

#connect {
  display: none;
}

.modal-dialog {
  display: none;
  text-align: center;
  position: fixed !important;
  z-index: 99999 !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Chrome, Safari, Opera */

}

.modal-backdrop {
  z-index: 9999 !important;
}

/* Sticky Nav */
.navbar-fixed {
  position: fixed;
  top: -30px;
  width: 100%;
  background-color: black;
  z-index: 999;
  height: 8em;
}

.nav_top a:hover {
  text-decoration: none;
  cursor: pointer;
}

.main-nav h2 {
  margin-top: 0 !important;
}

.main-nav {
  position: relative;
  height: 7.5em;
  background-color: black;
}

.navbar-fixed header {
  margin-top: 2em;
}

#social {
  margin-top: 2em;
}

.nav_top {
  color: white;
  list-style: none;
  float: right;
}

.nav_bottom {
  color: white;
  list-style: none;
  text-align: center;
}

li {
  display: inline-block;
  margin-right: 1.5em;
}

#links {
  display: block;
  position: absolute;
}

#intro {
  margin-top: -1em;
  background-color: white;
  margin-left: 0em;
  max-width: 100%;
  position: relative;
  padding-bottom: 1em;
  padding-top:1em;
}

#comments p {
  font-size: 2em;
}

#comments {
  margin-top: -1em;
  background-color: white;
  margin-left: 0em;
  max-width: 100%;
  position: relative;
  padding-bottom: 1em;
  padding-top:1em;
}

#pro {
  background-color: #E8E8E1;
  margin-left:0;
  max-width: 100%;
  /*position: static;*/
  /*margin-top: 47em;*/
  padding-top: 1.5em;
  padding-bottom: 5em;
  position: relative;
}

.top {
  font-size: 3em;
  text-align: center;
}

#intro p {
  font-size: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}


.rocket {
  background-image: url("/assets/launch.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  max-width: 100%;
  height: 30em;
  margin-left: 0;
}

footer {
  padding-top: 2em;
  color: #FFF9F9;
  background-color: black;
  padding-bottom: 2em;
}

.image-container {
  position: relative;
  height: 5em;
  margin-top: 5em;
}

#head_shot {
  width: 10em;
  height: 10em;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  /*top: 50%;*/
  /*margin-top: 0;*/
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */

  -webkit-transform: translate(-50%, -50%);
  /* Chrome, Safari, Opera */
}

footer {
  background-color: black;
  margin-bottom: 0 !important;
}

h4 {
  color: white;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity:0.5;
}

.project-title {
  text-align: center;
}

.projects {
  text-align: center;
  min-height: 25em;
}

.project-container {
  margin-left: 2em;
  display: inline-block;
  position: relative;
}

.project-container:hover {
  /*background-color: black;*/
  opacity: 0.5;
  cursor: pointer;
}

.project-container-img {
  border-radius: 20em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: white;
  /*border: 2px solid red;*/
  text-align: center;
  width: 18em;
  height: 18em;
  display: inline-block;
}

.modal-body p {
  color: black;
  font-size: 1.5em;
}

.glyphicon-eye-open {
  font-size: 2em;
}

.model a:hover {
  text-decoration: none;
}

.modal-footer {
  color: black;
}

.tech-container {
  text-align: center;
}

.tech-pic {
  max-height: 5em;
  max-width: 5em;
}

.nav-mobile {
  display: none;
}

#intro-responsive {
  display: none;
}

#pro-responsive {
  display: none;
}

@media only screen and (max-width: 1165px) {

  #intro {
    display: none;
  }

  #intro-responsive {
    display: block;
  }

  #intro-responsive p {
    font-size: 1.5em;
  }

  #intro-responsive img {
    margin-top: 1em;
  }

  .navbar-inverse {
    background-color: black !important;
  }

  .navbar-brand {
    color: white !important;
  }

  .navbar-right li a {
    color: #337ab7 !important;
  }

  .nav-mobile {
    display: block;
  }

  .navbar-fixed, .main-nav {
    display: none;
  }

  header #title {
    font-size: -webkit-xxx-large;
    margin-top: xx-large;
  }

  #social h2 {
    font-size:x-large;
  }

  .modal-body p {
    font-size: 1em;
  }

  #pro-responsive {
    padding-top: 2em;
    padding-bottom: 2em;
    display: block;
    background-color:#E8E8E1;
  }

  #pro-responsive .project-container-img {
    max-width: 10em;
    max-height: 10em;
  }

  #pro {
    display: none;
  }

  footer h4 {
    font-size: 1em;
  }

  #comments p {
    font-size: 1.3em;
  }

  .tech-pic {
    max-height: 3em;
    max-width: 3em;
  }

}

@media only screen and (max-width: 768px) {

  #intro-responsive p {
    font-size: 1em;
  }

  .modal-body p {
    font-size: .8em;
  }

}