<header>
  <span class="author-email"><a href=""><%= model.get('email') %></a></span>
  <span class="date"><%= formatDate() %></span>

  <nav>
    [<a href="#" class="delete">x</a>]
  </nav>
</header>
<div class="comment-content">
  <%= renderMarkdown() %>
</div>
