<!DOCTYPE html>
<html>
<head>
  <title>Walt Zimmerman</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/assets/lockeSolo.png" >
</head>
<body>
<%= yield %>

</body>
</html>
